.banno .banno {
    padding: 0px; 
    position: relative;
    border: 1px solid black;
    margin-left: 1px;
  }
  
  .banno h2 {
    color: #000000; 
    margin-bottom: 1px; 
    margin-left: 4px;
  }