.banno .banno {
    padding: 0px; 
    position: relative;
    border: 1px solid black;
    margin-left: 1px;
  }
  
  .banno h2 {
    color: #000000; 
    margin-bottom: 1px; 
    margin-left: 4px;
  }
  .shower {
    position: absolute;
    right: 2px;
    width: 200px;
    height: 300px;
    bottom: -11px;
  }
  
  .head {
    width: 90px;
    height: 50px;
    background: silver;
    position: absolute;
    top: 35px;
    left: 78%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  
  .pipe {
    width: 10px;
    height: 220px;
    background: silver;
    position: absolute;
    top: 60px;
    right: 0;
  }
  
  .base {
    width: 200px;
    height: 5px;
    background: white;
    border: 1px solid black;
    position: absolute;
    margin-top: 280px;
  }