/* Estilos generales para el contenedor de la cocina */
.cocina {
    padding: 0px;
  }

  .cocina h2 {
    color: #333; /* Color del texto */
    margin-bottom: 0px; /* Margen inferior */
  }

  .cocina .control-temperatura{
    position: relative;
    top: 23px;
  }