/* Estilos generales para el contenedor de la cocina */
.cocina {
    padding: 0px;
  }

  .cocina h2 {
    color: #333; /* Color del texto */
    margin-bottom: 1px; /* Margen inferior */
  }
  
  /* Estilos para la luz de techo */
  .luz-de-techo {
    background-color: yellow;
    border: 1px solid #ffcc00;
    padding: 1px;
    margin-bottom: 1px;
  }
  
  /* Estilos para el control de temperatura */
  .control-temperatura {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    padding: 1px;
  }
  