/* Estilos generales para el contenedor de la cocina */
.cocina .cocina{
    padding: 0px;
    border: 1px solid #000;
  }

  .cocina h2 {
    color: #333; /* Color del texto */
  }

  .cocina .control-temperatura{
    position: relative;
    top: 23px;
  }