
.control-temperatura {
    background-color: hsl(210, 70%, 85%);
    border: 1px solid black;
    padding: 0px;
    margin-bottom: 0px;   
    width: 150px;
    height: 80px;
    border-radius: 30px;
    margin-left: 8px;
    margin-top: 20px;
}

.control-temperatura h4{
    text-align: center;
    line-height: 10px;
}