/* Estilos para el fondo y el diseño general del cuarto */
.cuarto {
    padding: 0px; 
    position: relative;
  }
  
  .cuarto h2 {
    color: #000000; 
    margin-bottom: 1px; 
    margin-left: 4px;
  }
