
.habitacion-principal .habitacion-principal{
    padding: 0px; 
    border: 1px solid #000;
  }
  
  /* Estilos para el título de la habitación principal */
  .habitacion-principal h2 {
    color: #333;
    margin-left: 4px;
  }

