/* Estilos para la lámpara en la habitación principal */
.lampara-apagada {
    background-color: #f5f5f5; 
    border: 0px solid black; 
    padding: 2px; 
    width: 120px;
    height: 260px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.lampara-apagada h5 {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.lampara-apagada .cable {
    width: 10px;
    height: 180px;
    background-color: #9fb3bd;
    position: absolute;
    border-radius: 10%;
    top: 55px;
}


.lampara-apagada .foco {
    width: 70px;
    height: 60px;
    background-color: #8c9ea8;
    border-radius: 40%;
    position: absolute;
    top: 35px;
}
