.planta-baja {
  width: 1300px;
  height: 400px;
  position: left;
  margin: 0px auto;
  }
  
  .habitacion-principal,
  .salon {
    position: absolute;
    height: 400px;
  }
  
  .salon {
    width: 400px;
    left: 300px;
  }
  
  .cocina {
    position: absolute;
    height: 400px;
    width: 300px;
    left: 150px;
  }
  
  .habitacion-principal {
    width: 300px;
    left: 0px;
  }

  .jardin {
    position: absolute;
    height: 400px;
    width: 300px;
    left: 500px;
  }

  .salon .television{
    float: right;
  }


