.planta-baja {
  width: 1200px;
  height: 400px;
  position: left;
  margin: 0px auto;
  }
  
  .habitacion-principal,
  .cocina,
  .salon,
  .jardin {
    position: absolute;
    height: 400px;
    width: 300px;
  }
  
  .habitacion-principal {
    left: 300px;
    border: 1px solid #000;
  }
  
  .cocina {
    left: 150px;
  }
  
  .salon {
    left: 0px;
    border: 1px solid #000;
  }

  .jardin {
    left: 450px;
  }

  .salon .television{
    float: right;
  }
  