.planta-baja {
  position: relative;
  width: 900px;
  height: 401px;
  border: 1px solid #000;
  margin: 1px auto;
  float: left;
  }
  
  .habitacion-principal,
  .cocina,
  .salon {
    position: absolute;
    border: 1px solid #000;
    height: 400px;

  }
  
  .habitacion-principal {
    width: 300px;
    left: 300px;
  }
  
  .cocina {
    width: 300px;
    left: 150px;
  }
  
  .salon {
    width: 300px;
    left: 0px;
  }
  