/* Estilos para el fondo y el diseño general de la salita */
.salita {
    padding: 0px; /* Espaciado interno */
  }
  
  /* Estilos para el título de la salita */
  .salita h2 {
    color: black; /* Color del texto */
    margin-bottom: 1px; /* Margen inferior */
  }
  
  /* Agrega más estilos según sea necesario para otros elementos en la salita */
  .control-temperatura {
    background-color: #ff6666;
    border: 1px solid #cc0000;
    padding: 1px;
    margin-bottom: 1px;   
  }