
.salon .salon{
    padding: 0px;
    border: 1px solid #000;
    margin-left: 1px;
  }
  

  .salon h2 {
    color: #000000;
    margin-left: 4px;
  }

  .salon .television{
    position: relative;
    top: 80px;
  }