.segundo-piso {
    position: left;
    height: 400px;
  }
  
  .cuarto1,
  .cuarto2,
  .salita,
  .banno {
    position: absolute;
    height: 400px;
  }

  .cuarto1 {
    left:0px;
    width:250px;
  }
  
  .banno {
    left: 125px;
    width:250px;
  }
  
  
  .cuarto2 {
    left: 250px; 
    width:250px;
  }
  
  
  .salita {
    left: 375px; 
    width:250px;
  }
  
  

.cuarto1 .reproductor-musica {
  left:0;
}

.cuarto2 .reproductor-musica {
  right:0;
}