.segundo-piso {
    position: left;
    width: 900px;
    height: 400px;
    width: 300px;
  }
  
  .cuarto1,
  .cuarto2,
  .salita {
    position: absolute;
    height: 400px;
    width: 300px;
  }

  .cuarto1 {
    position:left;
    border: 1px solid #000;
  }
  
  .cuarto2 {
    left:150px;
  }
  
  .salita {
    left: 300px;
    border: 1px solid #000;
  }
  

.cuarto1 .reproductor-musica {
  left:0;
}

.cuarto2 .reproductor-musica {
  right:0;
}